<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Graphics Studio Careers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">
    </head>
    <body>
        <div class = 'Container'>
            <h1 class = 'text-center'> Graphics Studio Careers </h1>
            <img class="rounded mx-auto d-block" src = "static/download.jpg">
            <h2 class='text-center'> About us </h2>
            <p1 class = 'lead'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Cursus risus at ultrices mi tempus. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. 
                Odio ut sem nulla pharetra diam sit amet. Lectus arcu bibendum at varius vel pharetra vel turpis. 
                Auctor eu augue ut lectus arcu. Pellentesque elit eget gravida cum. 
                Nunc consequat interdum varius sit amet mattis. Nunc mi ipsum faucibus vitae aliquet nec. 
                Eget felis eget nunc lobortis mattis aliquam. Sagittis orci a scelerisque purus semper eget duis at tellus. 
                Eu tincidunt tortor aliquam nulla facilisi. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam.
            </p1>


            <h2 class = 'text-center'> Open Positions </h2>
            <div>
                {% for jobs in job %}
                    {%include 'jobitem.html'%}   
                {% endfor %}
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Contact Us</button>
            </div>
            <footer class = 'text-center lead' >
            &copy; <em id="date"></em> 2024 Graphics Studio
            </footer>
        </div>
    </body>
</html>
